<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>491928665866-vifdijrsgdm37re6347pog14rjdlj448.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.491928665866-vifdijrsgdm37re6347pog14rjdlj448</string>
	<key>API_KEY</key>
	<string>AIzaSyBBzWi7CXFgelaXb5q0OI6oEgghwU3CNTk</string>
	<key>GCM_SENDER_ID</key>
	<string>491928665866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.eastar.tagout</string>
	<key>PROJECT_ID</key>
	<string>tagout-schedule</string>
	<key>STORAGE_BUCKET</key>
	<string>tagout-schedule.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491928665866:ios:8b20715153502bed2804f3</string>
</dict>
</plist>